*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 
 }
 body{
    height: 90vh;
    background: #eef9ff;
 }
 .action{
   position: fixed;
 
 right: 3%;
 margin-bottom: 0;
 
 }
 .imga{
   
   
   width:fit-content;
  
 }
 .action p{
   font-family:'oswald',serif;
   font-weight: bold;
   font-size: 13px;
 margin-left:  5px;
 }
 .navigation {
    position: fixed;
    left: 0;
   
    width: 130px;
    height: 100%;
    background-color:#ACE1AF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 10px;
    z-index: 1;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 180px;
 
  }
  .navigation .text{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   margin-left: 5px;
   
  }
  
 .navigation:not(:hover) {
    width: 60px;
  }
  
  .navigation:not(:hover) .text {
    display: none;
  }
  
  .navigation:hover {
    width: 200px;
 
  }
  .navigation:hover li:not(.active):hover .item:hover{
   background: rgb(255, 255, 255);
   border-radius: 16px 16px 16px 16px ;
   width: auto;
   margin-right: 12px;
  }
  
  
  .navigation a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  
  .navigation li {
    right: 12px;
    top: 100px;
    position: relative;
    list-style: none;
  
    text-decoration: none;
  }
  .navigation:hover li.active{
   width: 160px;
    background:  #ffffff;
    margin-right: 10px;
  }
  .navigation:hover li{
   width: 180px;
  }
  .navigation:not(:hover) li.active{
    width: 53px;
    background: #ffffff;
  }
  .navigation:not(:hover) li.active .icon{
    margin-left: 10px;
  }
  .navigation li.active {
   background: #ffffff;
    border-radius: 16px  16px 16px;
   
    padding-top: 7px;
    padding-bottom: 7px;
   
  }
  .navigation li.active .icon{
   color: #000000;
  }
  .zina {
    position: absolute;
    top: 10%; /* Adjust as needed */
    margin-left: 50%; /* Adjust as needed */
  }
.zina2{
  position: absolute;
    top: 10%; /* Adjust as needed */
    margin-left: 15%; /* Adjust as needed */
    width: 500px;
    margin-bottom: 10px;
    
}
.zina3{
  position: absolute;
  top: 10%; /* Adjust as needed */
  margin-left: 15%; /* Adjust as needed */
}